body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50vw;
    margin: 0 auto;
    min-height: 100vh;
}